*{
	padding: none;
	margin: none;
}
body{
	background-color: #FEFEFE;
	font-family: Pathway Gothic One;
}
p{
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.main{
	height: 98vh;
	width: auto;
	display: grid;
	grid-template-rows: 20% 55% 25%;
	grid-template-areas: 
		"topp""mid""bot"
	;
	padding-bottom: 5px;
}
.header{
	margin: none;
	padding: none;
	font-family: Pathway Gothic One;
	font-style: normal;
	font-weight: normal;
	font-size: 3.5em;
	text-align: center;
	letter-spacing: 0.1em;
	color: white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;

}
.top {
	grid-area: topp;
	display: flex;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
}

.middle {
	grid-area: mid;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-family: Pathway Gothic One;
}

.middle-container {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-header{
	background-color: #2c2c2c;
	color: white;
}
.modal-box-icons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5px auto;
}
h6{
	text-align: center;
	margin: 10px auto;
}
.modal-icon-wrapper{
	margin: 2px;	
}
.bottom{
	grid-area: bot;
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
	align-items: flex-end;

}

.box-name{
	background-color: #215087;
	width: 40%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid #000000;
}

.box-title{
	background-color: #215087;
	width: 40%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid #000000;
}

.box-icons{
	width:60%;
	height: 70%;
}
.icon{
	height: 20px;

}

#page2{
	margin: 0;
	padding: 0;
	background-color: #2c2c2c;
	height: 70vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	justify-content: center;
}
.skill-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}
.skill-icon{
	height: 200px;
}
.skill-icon:hover{
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}




/*PAGE 3*/
#page3{
	display: grid;
	grid-template-columns: 1fr

}
#capstone1, #capstone3{
	margin-top: 10px;
	height: 130vh;
	display: flex;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	justify-content: center;
}
.cap{
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	width: 90%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
	
.card2 {
	width: 70%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-erwin{
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #215087;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	text-decoration: none;
	margin-top: 7px;
}
.btn-erwin:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
text-decoration: none;
}



/*#box-aboutme:hover{
	animation: ikot 1.7s linear;
	transform-origin: center;
	transform-box: fill-box;
}

@keyframes ikot{
	from{
		transform: rotateZ(0deg);
	}
	to{
		transform: rotateZ(180deg);
	}
}*/

#text-aboutme{
	transition: transform .5s ease;
}
#text-aboutme:hover{
	text-decoration: underline;
}



@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.box-name:hover, .box-title:hover{
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
#group-box4:hover, #group-box3:hover, #group-box2:hover, #group-box1:hover , #primary-pic:hover{
	transform: translatey(0px);
	animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}